:root {
    --redJumbotronColor:rgb(233, 70, 70);
    --blueCardTitleColor: rgb(46, 66, 243); 
}

.jumbotron {
    height: 100px; 
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: var(--redJumbotronColor);

    margin-bottom: 20px;
}


/* the team member cards */

.card {
    margin: 0px 20px 20px 20px;
    border: 2px solid black;
}

.cardTitle-head { 
    background-color: var(--blueCardTitleColor);
    color: white;
}

.card_iconANDtitle {   
    display: flex;
}

.cardClass { 
    margin-left: 10px;
}